<div class="card text-center">
  <div class="card-header" style="background-color: hsl(26, 73%, 30%)"></div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p
      class="card-text"
      style="
        font-size: 60px;
        font-weight: 800;
        letter-spacing: 10px;
        color: rgb(79, 79, 120);
      "
    >
      CURRENCIES
    </p>
  </div>
  <div
    class="card-footer text-muted"
    style="background-color: hsl(128, 36%, 47%)"
  ></div>
</div>
<hr style="color: white" />
<div *ngIf="emptycurrencies" class="card text-center">
  <div class="card-body" style="font-size: 10px">
    To load data please go to
    <button class="btn btn-outline-success" (click)="goToHome()">HOME</button>
    by clicking on it
  </div>
</div>
<div *ngIf="!emptycurrencies">
  <div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title"></h5>

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div style="float: left">
              <input
                type="text"
                name="lefthandvalue"
                [(ngModel)]="lefthandvalue"
                (keypress)="keyPressNumbersDecimal($event)"
              />
            </div>
            <div>
              <select [(ngModel)]="lefthand" class="btn btn-secondary">
                <option
                  *ngFor="let currency of currencies"
                  value="{{ currency.symbol }}"
                >
                  {{ currency.symbol }}
                </option>
              </select>
            </div>
          </div>

          <div class="col-sm">
            <button class="btn btn-primary" (click)="convert()">CONVERT</button>
          </div>

          <div class="col-sm">
            <div style="float: left">
              <h4 style="color: white">{{ righthandvalue }}</h4>
            </div>
            <div>
              <select [(ngModel)]="righthand" class="btn btn-secondary">
                <option *ngFor="let currency of currencies">
                  {{ currency.symbol }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted"></div>
  </div>
  <hr style="color: white" />
  <div class="container">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">NAME</th>
          <th scope="col">SYMBOL</th>
          <th scope="col">VALUE</th>
        </tr>
      </thead>
      <tbody class="bg-secondary">
        <tr *ngFor="let currency of currencies">
          <td>{{ currency.name }}</td>
          <td>{{ currency.symbol }}</td>
          <td>{{ currency.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="height: 40px; width: 100%"></div>
</div>
